<h2 align="center">Регистрация клиента</h2>
<label>
    ведите имя
    <input type="text" class="moi">
</label>
<br>
<input type="button" value="Добавиться" class="RegistrationName moi" id="Registration">