<label>Ведите имя
    <br>
    <input type="text" class="Name moi" size="41">
</label>
<br>
<label>Ведите заявку
    <br>
    <input type="text" class="ticket moi" size="30">
</label>
<br>
<label>Начала
    <br>
    <input type="date" class="estimated">
</label>
<br>
<label>Когда нужно окончить
    <br>
    <input type="date" class="deadline">
</label>
<br>
<select class="status">
    <option value="offline">offline</option>
    <option value="online">online</option>
</select>
<br>
<input type="button" value="Добавить" class="add">
